.intro {
  font-family: "NTR", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 100px;
}
.intro-title {
  color: #dddddd;
  font-size: 84px;
}
.intro-name {
  color: #85c88a;
  font-weight: bold;
}
.intro-subtitle {
  color: #ffd500;

  margin-top: -56px;
  font-weight: 300;
  font-size: 55px;
}
.intro-desc {
  font-size: 24px;
  color: #dddddd;
  max-width: 55%;
  padding-bottom: 50px;
  margin-top: 50px;
}
.intro-contact {
  font-size: 22px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
  color: #85c88a;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.intro-contact:hover {
  background-color: rgb(62, 71, 204);
}
.Typist {
  color: #dddddd;
  text-align: center;
  font-size: 76px;
  margin-top: -30px;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 600px) {
  .intro {
    font-family: "NTR", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-display: fallback;

    min-height: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0px;
  }
  .intro-title {
    font-size: 46px;
  }
  .intro-name {
    font-weight: 700;
  }
  .intro-subtitle {
    font-weight: 300;
    font-size: 28px;
    text-align: center;
  }
  .intro-desc {
    font-size: 18px;

    max-width: 100%;
    padding-bottom: 50px;
  }
  .intro-contact {
    font-size: 16px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;

    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 30%;
    margin-right: 30%;
    align-self: center;
  }
  .Typist {
    text-align: center;
    font-size: 55px;
    margin-top: 28px;
    padding-bottom: 10px;
  }
}
